<p style="font-size:20px; background-color:#DCDCDC; color: #000000	; width: 3.6%; border-radius:5px; padding:10px">
    <%= link_to "Entrar", coins_path %>
</p>
 
<p>
    Você está em ambiente de <%= ambiente_rails %>
</p>