<div class="jumbotron" style="padding:10px; width:100%; display:fluid; margin-bottom:-10px; margin-left:-15px ;background-color:#ADD8E6">
  <h1 class="display-4" style="margin-bottom:-5px;">Cripto Wallet</h1>
  <p class="lead" style=" font-size:17px">Sua carteira virtual</p>
  <hr class="my-4">
  <p>A carteira virtual que vai mudar o jeito de fazer pagamentos, trasnferências e negócios.</p>
  <%= render "menu" %>
</div>

<%# Esse comando abixo, é do botão do bootstrap%>
<%#<a class="btn btn-primary btn-lg" href="coins#index" role="button">Entrar</a>%>