// Place all the styles related to the MiningTypes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

th {
  width: 90px;
  background-color: yellow;
  text-align: center;
  padding-bottom: 0px;
  padding: 2px;
}

td {
  
  color: black;
  padding: 0 5px 7px;
  text-align: center;
}
